.div1{
    width: 500px;
    margin-top: 10px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.btn1{
    width: 100px;
    height: 70px;
    border-radius: 20px;
    background-color:#e0e0e0 ;
}
.btn2{
    width: 100px;
    height: 70px;
    border-radius: 20px;
    background-color: #6fcf97;
}
.btn3{
    width: 100px;
    height: 70px;
    border-radius: 20px;
    background-color: #56ccf2;
}
.btn4{
    width: 100px;
    height: 70px;
    border-radius: 20px;
    background-color:#bb6bd9;
}
h2{
    border-radius: 10px;
}
